[Desktop Entry]
Name=RScraper Tag Manager
Comment=GUI for managing RScraper tags
Keywords=rscraper;cpp;qt5;reddit;
Exec=rscraper-hub
Icon=rscraper-hub.png
Terminal=false
Type=Application
Categories=Internet;Utilities;Qt;
